.root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0;
  overflow: hidden;
  backdrop-filter: var(--bg-effect);
}

.optionName {
  padding: 20px 10px;
  font-size: 1.1rem;
  text-align: left;
  color: var(--text);
}

.toggleLine {
  background-color: var(--text-dim);
  width: 10px;
  height: 100%;
  transition: .5s;
}

.toggleLineActive {
  background: var(--accent);
}