.root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-template-areas: 
  "name toggle"
  "title title";
  padding: 10px;
  backdrop-filter: var(--bg-effect);
}

.optionName {
  font-size: 1.1rem;
  grid-area: name;
  text-align: left;
  color: var(--text);
}

.icon {
  grid-area: toggle;
}

.icon_on {
  color: var(--accent);
}