.button {
  position: fixed;
  border: none;
  border-radius: 0;
  background: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
   background: var(--headerBg);
  border-top: 1px solid var(--primaryColor_2);
  border-left: 1px solid var(--primaryColor_2);
  backdrop-filter: var(--bgEffect);
  aspect-ratio: 1/1;
  padding: 15px;
  border-radius: 50px;
  z-index: 10;

  user-select: none;
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}

.menuButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.settingsButton {
  bottom: 10px;
  right: 110px;
}

.themesButton {
  bottom: 90px;
  right: 90px;
}

.lessonsButton {
  bottom: 110px;
  right: 10px;
}