.panel {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--headerBg);
  border: 1px solid var(--primaryColor_2);
  backdrop-filter: var(--bgEffect);
  border-radius: 50px;
  z-index: 100;
}

.button {
  position: relative;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 15px;
  user-select: none;
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}

/* .settingsButton {} */

/* .themesButton {} */

/* .lessonsButton {} */