.root {
  display: flex;
  flex-direction: column;
}

.start {
  width: 20px;
  height: 20px;
  background-color: var(--primaryColor_2);
  border-radius: 50%;
  margin: auto;
}

.finish {
  width: 10px;
  height: 10px;
  background-color: var(--primaryColor_2);
  border-radius: 50%;
  margin: auto;
}

.line {
  width: 2px;
  height: 30px;
  background-color: var(--primaryColor_2);
  margin: auto;
}
