.root {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
}

.buttons {
  position: sticky;
  bottom: 70px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.button {
  padding: 15px 0;
  margin: 10px 0;
  border-color: var(--primaryColor_2);
  backdrop-filter: var(--bgEffect);
}

.buttonActive {
  border-color: var(--primaryColor_4);
}

.lessons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}