.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-width: 700px;
  margin: auto;
}

.themeLink {
  position: relative;
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--bg-contrast);
  backdrop-filter: var(--bg-effect);
}

.lastUpdateDateContainer {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  padding: 20px 10px;
  background: var(--bg-contrast);
  backdrop-filter: var(--bg-effect);
}

.versionContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  padding: 10px;
  background: var(--bg-contrast);
  backdrop-filter: var(--bg-effect);
}