.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  margin: auto;
}

.lastUpdateDateContainer {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--primaryColor_1);
  border-radius: 10px;
  backdrop-filter: var(--bgEffect);
  padding: 10px;
}