.root {
  display: block;
  grid-template-areas:
    "header header"
    "teacher teacher"
    "room time";
  gap: 5px;
  padding: 1rem 1.7rem 1rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--lessonBorderColor);
  background: var(--lessonBg);
  position: relative;
  width: max-content;
  min-width: 250px;
  width: 100%;
  backdrop-filter: var(--bgEffect);
}

.rootCurrent {
  .line {
    background: var(--lessonLineBgCurrent);
    box-shadow: 0px 0 25px 7px var(--lessonLineCurrentShadow);
  }
}

.titleBox {
  text-wrap: balance;
  margin-bottom: 10px;
}
.title {
  font-weight: bold;
  font-size: 18px;
}

.teacherBox {
  margin-bottom: 8px;
}
.teacher {
  color: var(--lessonSecondAccentColor);
}

.room {
  color: var(--lessonSecondAccentColor);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--lessonBorderColor);
  border-radius: 0;
}

.timeBox {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* .time {} */

.timer {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  color: var(--lessonTimerColor);
  background: var(--lessonTimerBG);
}

.line {
  height: 100%;
  width: 10px;
  position: absolute;
  right: 0px;
  top: 0;
  border-radius: 0px 100px 100px 0px;
  background: var(--lessonLineBgDefault);
}