.root {
  display: block;
  padding: 1rem 1.7rem 1rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  background: var(--primary);
  position: relative;
  width: max-content;
  min-width: 250px;
  width: 100%;
}

.titleBox {
  text-wrap: balance;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.teacherBox {
  margin-bottom: 8px;
}

.teacher {
  color: var(--textDim);
}

.room {
  color: var(--textDim);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--secondary);
  border-radius: 0;
}

.timeBox {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* .time {} */