.root {
  display: grid;
  grid-template-areas:
    "header header"
    "teacher teacher"
    "room time";
  gap: 5px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--lessonBorderColor);
  background: var(--lessonBg);
  position: relative;
  overflow: hidden;
  min-width: 250px;
  backdrop-filter: var(--bgEffect);
}

.rootCurrent {
  /* box-shadow: 10px 0 25px var(--lessonLineCurrentShadow); */

  .line {
    background: var(--lessonLineBgCurrent);
  }
}

.mainInfo {
  grid-area: header;
  padding-bottom: 5px;
  text-wrap: balance;
  margin-bottom: 5px;
}

.mainInfoExtend {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
}

.tags {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-top: 10px;
}

.type, .subGroup {
  border: 1px solid var(--primaryColor_2);
  border-radius: 5px;
  padding: 2px 12px;
}

.timer {
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  color: var(--lessonTimerColor);
  background: var(--lessonTimerBG);
}

.teacher {
  grid-area: teacher;
  margin-bottom: 15px;
}

.room {
  grid-area: room;
}

.time {
  grid-area: time;
  text-align: right;
}

.line {
  height: 100%;
  width: 8px;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--lessonLineBgDefault);
}