.root { 
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "left right";
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(194, 194, 194);
  background-color: white;
}

.rootCurrent {
  grid-template-areas: 
    "left right"
    "bottom bottom";
}

/* .rootCompleted {} */

.mainInfo {
  grid-area: left;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.details {
  grid-area: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 2px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #0003;
  height: fit-content;

  & > p:nth-child(1),
  & > p:nth-child(2) {
    font-weight: bold;
    border-bottom: 1px dashed #0008;
    padding-bottom: 5px;
  }

  & > p:nth-child(3),
  & > p:nth-child(4) {
    padding-top: 5px;
  }

  & > p:nth-child(1),
  & > p:nth-child(3) {
    padding-right: 5px;
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 5px;
  margin-top: 5px;
  grid-area: bottom;
  border-top: 1px dashed #0005;
}
