.root {
  backdrop-filter: var(--bg-effect);
}

.message {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  height: 40vh;
  color: var(--message-color);
  background: var(--message-bg);
  border: 2px solid var(--message-border-color);
}

