.panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  display: grid;
  z-index: 100;
  grid-template-columns: repeat(3, 1fr);
  background: var(--headerBg);
  border-top: 1px solid var(--primaryColor_2);
  backdrop-filter: var(--bgEffect);
}

.button {
  position: relative;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 15px;
  user-select: none;
  color: var(--primaryColor_4);
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  border-radius: 0;
}

.activeTab {
  color: var(--activeTabColor);
  filter: var(--activeTabFilter);
}