.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  /* background: none; */
  border-color: var(--primaryColor_2);
  backdrop-filter: var(--bgEffect);
  position: relative;
}

.statusText{
  font-weight: bold;
}

.statusBox {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  height: 100%;
}

.point {
  padding: 5px;
  border-radius: 50%;
  background-color: var(--inactiveWeekDayColor);
}

.pointActive {
  background-color: var(--activeWeekDayColor);
}
