.root {
  backdrop-filter: var(--bgEffect);
  background-color: var(--headerBg);
  border: 1px solid var(--primaryColor_2);
  padding: 10px;
  border-radius: 5px;
  position: relative;

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }
}

.tableBox {
  margin-top: 20px;
  border-top: 1px solid var(--primaryColor_2);
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: 10px;
}