.root {
  backdrop-filter: var(--bgEffect);
  background-color: var(--headerBg);
  border: 1px solid var(--primaryColor_2);
  padding: 30px 10px 10px;
  border-radius: 5px;
  position: relative;

  h2 {
    font-size: 1rem;
    text-align: center;
  }
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: 10px;

  &:first-child {
    margin-top: 20px;
  }
}

.date {
  margin: auto;
  background-color: var(--bodyBackgroundColor);
  border: 1px solid var(--primaryColor_2);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
}