.root {
  max-width: 700px;
  margin: auto;
}

.noEvents {
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primaryColor_1);
  border: 1px solid var(--lessonBorderColor);
  backdrop-filter: var(--bgEffect);
}

.headerText {
  margin-bottom: 1rem;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.events + .events {
  margin-top: 15px;
}