.root {
  width: 100%;
  padding: 13px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: var(--bgEffect);
  z-index: 100;
  overflow: hidden;
  background: var(--headerBg);
  border-bottom: 1px solid var(--headerBorderColor);
}

/* .headerText {} */
