.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "empty title icon";
  align-items: center;

  width: 100%;
  padding: 13px;
  
  position: sticky;
  z-index: 100;
  top: 0;
  
  border-bottom: 1px solid var(--secondary);
  background: var(--primary);
}

.headerText {
  grid-area: title;
}

.themeButton {
  grid-area: icon;
  padding: 0;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: none;
}