.root {
  width: calc(100% + 35px);
  padding: 13px;
  background: var(--headerBg);
  border-bottom: 1px solid var(--headerBorderColor);
  position: relative;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: var(--bgEffect);
  z-index: 10;
}

/* .headerText {} */