.root {
  padding: 10px;
  border-radius: 10px;

  border: 1px solid var(--border);
  background: var(--bg-contrast);
  /* backdrop-filter: var(--bg-effect); */
}

.exam {
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: red;
  color: white;
}

.examPrev {
  background-color: initial;
  border: 1px solid var(--border);
  color: var(--text-dim);
}

.withIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.place,
.date {
  color: var(--text-dim);
}

.place {
  margin-bottom: 4px;
}

/* .date {} */

/* .prevEvent {} */
