.root {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(5, 400px);
  overflow-x: auto;
  padding: 10px 0;
  padding-top: 4rem;
}

.themeText {
  text-align: center;
  margin: 10px 0 30px;
}

.version {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  background: var(--bodyBackground);
  background-color: var(--bodyBackgroundColor);
  color: var(--primaryColor_4);
}

.panel *:last-child {
  position: static;
  pointer-events: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  button {
    padding: 10px;
  }
}