.root {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(7, 400px);
  overflow-x: auto;
  padding: 10px 0;
}

.version {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  background: var(--bodyBackground);
  background-color: var(--bodyBackgroundColor);
  color: var(--primaryColor_4);
}

.panel * {
  position: static;
  pointer-events: none;
}