.colors_cyber_slate {
   /* semantic layer */
  --bg: #121212;
  --bg-contrast: #2d2d2d;

  --text: #e0e0e0;
  --text-dim: #c2c2c2;
  --text-negative: #1a1a1a;

  --primary: #ff4b4b;
  --primary-shade: #ad3131;
  --primary-gradient: linear-gradient(to right, var(--primary), var(--primary-shade));

  --secondary: #ff4b4b;
  --secondary-shade: #ac3030;
  --secondary-gradient: linear-gradient(to bottom, var(--secondary), var(--secondary-shade));

  --primary-secondary-gradient: linear-gradient(to bottom, var(--primary), var(--secondary));

  --accent: #ff4b4b;
  
  --error: #f06b6b;
  --success: #9ef06b;

  /* button */
  --button-bg: #2d2d2d;
  --button-bg-disabled: #181818;
  
  /* surfaces */
  --surface: #00000080;
  --border: #424242;

  /* message */
  --message-color: #ff4b4b;
  --message-border-color: #802b2b;
  --message-bg: linear-gradient(135deg, #1e1e1e, 75%, #3d1a1a);

  /* lesson */
  --lesson-timer-color: #ff4b4b;
  --lesson-timer-bg: #ff4b4b1a;

  /* notification */
  --notification-bg: #ff4b4b;

  /* visual background */
  --bg-image: none;
  --bg-effect: none;
  --bg-image-size: none;
}