.colors_dark {
  --primaryColor_1: #27374D;
  --primaryColor_2: #526D82;
  --primaryColor_3: #9DB2BF;
  --primaryColor_4: #DDE6ED;

  --bodyBackground: #07101b;
  --bodyBackgroundColor: var(--bodyBackground);

  /* settings */
  --reloadTitleMessageBg: #f1f19a;
  --reloadTitleMessageColor: rgb(97, 97, 7);

  --buttonInitBorderColor: #b4b4b4;

  --weekendBg: var(--messageBg);
  --afterClassBg: var(--messageBg);
  --breakBg: var(--messageBg);

  --buttonDisabledBorderColor: var(--primaryColor_2);
  --buttonDisabledColor: var(--primaryColor_2);
  --buttonDisabledBgColor: var(--primaryColor_1);

  --headerBetaBgColor: #aaebeb;

  --lessonTimerColor: var(--primaryColor_1);
  --lessonTimerBG: var(--primaryColor_4);
  --lessonBorderColor: var(--primaryColor_2);
  --lessonBg: var(--primaryColor_1);

  --lessonLineBgDefault: linear-gradient(to right, #3b82f6, var(--headerBetaBgColor));
  --lessonLineBgCurrent: #dcffdb;
  --lessonLineCurrentShadow: #e5ffe54d;

  --lessonSecondAccentColor: #b8c4ce;

  --beforeClassBg: linear-gradient(135deg, var(--primaryColor_2), 75%, var(--primaryColor_1));
  --beforeClassColor: var(--primaryColor_4);
  --beforeClassBorderColor: var(--primaryColor_3);

  --messageBg: linear-gradient(135deg, var(--primaryColor_1), 75%, var(--primaryColor_2));
  --messageColor: var(--primaryColor_4);
  --messageBorderColor: var(--primaryColor_3);

  --themeMenuBg: #fff2;
  --themeIconBorderColor: var(--primaryColor_3);
  --themeIconBG: linear-gradient(135deg, var(--primaryColor_2) 50%, var(--primaryColor_3) 51%);

  /* panel */
  --activeTabColor: #aaebeb;
  --activeTabFilter: drop-shadow(0px 0px 10px var(--activeTabColor));

  /* double lessons colors */
  --activeWeekDayColor: #b4d2e9;
  --inactiveWeekDayColor: #5e646d;
}