.colors_space {
  /* primary colors */
  --primaryColor_1: #18182e;
  --primaryColor_2: #2a2a40;
  --primaryColor_3: #6a5acd;
  --primaryColor_4: #f5f5f5;

  --bodyBackground: #0d0d1a;
  --bodyBackgroundColor: var(--bodyBackground);

   /* settings */
  --reloadTitleMessageBg: var(--primaryColor_1);
  --reloadTitleMessageColor: yellow;

  --buttonInitBgColor: var(--primaryColor_2);
  --buttonInitBorderColor: #6a5acd;

  --buttonDisabledBorderColor: #3c3c55;
  --buttonDisabledColor: #7a7a9c;
  --buttonDisabledBgColor: #1f1f33;

  --headerBg: var(--primaryColor_1);
  --headerBorderColor: #3c3c55;
  --headerBetaBgColor: #ffcc00;
  --headerBetaColor: #1A1A1A;

  --completeLessonsBg: var(--primaryColor_2);
  --completeLessonsListBg: var(--primaryColor_2);

  --beforeClassBg: linear-gradient(135deg, var(--primaryColor_2), 75%, #3c1a5b);
  --beforeClassColor: #ffe6ff;
  --beforeClassBorderColor: #6a5acd;

  --messageBg: linear-gradient(135deg, #1e1e38, 75%, #3c1a5b);
  --messageColor: #e0e0ff;
  --messageBorderColor: #6a5acd;

  --weekendBg: var(--messageBg);
  --weekendColor: var(--messageColor);
  --weekendBorderColor: var(--messageBorderColor);

  --afterClassBg: var(--messageBg);
  --afterClassColor: var(--messageColor);
  --afterClassBorderColor: var(--messageBorderColor);

  --breakBg: var(--messageBg);
  --breakColor: var(--messageColor);
  --breakBorderColor: var(--messageBorderColor);

  --lessonLineBgDefault: linear-gradient(to bottom, #3b82f6, #8b5cf6);
  --lessonLineBgCurrent: #4aff4a;
  --lessonLineCurrentShadow: #4aff4a88;

  --lessonBorderColor: var(--primaryColor_2);
  --lessonBg: #141429;

  --lessonDetailsBorderColor: var(--primaryColor_3);
  --lessonDetailsTimeBorderColor: var(--primaryColor_3);

  --lessonTimerColor: var(--primaryColor_4);
  --lessonTimerBG: #ffffff13;

  --lessonSecondAccentColor: #aaaaaa;

  --themeMenuBg: #6a5acd44;
  --themeIconBorderColor: var(--primaryColor_3);
  --themeIconBG: linear-gradient(135deg, var(--primaryColor_2) 50%, var(--primaryColor_3) 51%);
  --themeSecond: var(--primaryColor_1);

  /* panel */
  --activeTabColor: #eae6ff;
  --activeTabFilter: drop-shadow(0px 0px 10px var(--activeTabColor));

  /* double lessons colors */
  --activeWeekDayColor: #90baff;
  --inactiveWeekDayColor: #707070;
}
