.root {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  padding-top: 5rem;
  padding-bottom: 6rem;
  background: var(--bodyBackgroundColor);
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll;
}

.button {
  position: relative;
  padding: 10px;
  border: 2px solid var(--themeIconBorderColor);
  background: var(--bodyBackground);
}

.buttonHeaderText {
  font-size: 1.5rem;
  margin: 10px 0;
}

.themePreviewCard {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background: var(--lessonBg);
  backdrop-filter: var(--bgEffect);
  border: 1px solid var(--lessonBorderColor);
}

.box {
  color: var(--primaryColor_4);
  border-radius: 4px;
  text-align: left;
  font-size: 1.4em;
}

.box_1 {
  width: 85%;
  font-weight: bold;
  font-size: 1.3rem;
}

.box_2 {
  margin-top: 10px;
}

.containerBox {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

/* .box_3 {} */
/* .box_4 {} */