.root {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  padding-top: 5rem;
  padding-bottom: 6rem;
  background: var(--bodyBackgroundColor);
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll;
  z-index: 10;

  &::before {
    content: "";
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bodyBackgroundColor);
  }
}

.button {
  position: relative;
  padding: 10px;
  border: 2px solid var(--themeIconBorderColor);
  background: var(--bodyBackground);
}

.buttonHeaderText {
  font-size: 1.5rem;
  margin: auto;
  margin-bottom: 10px;
  background-color: var(--primaryColor_1);
  backdrop-filter: var(--bgEffect);
  border-radius: 5px;
  width: fit-content;
  padding: 5px 20px;
}

.themePreviewCard {
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background: var(--lessonBg);
  backdrop-filter: var(--bgEffect);
  border: 1px solid var(--lessonBorderColor);
}

.box {
  color: var(--primaryColor_4);
  border-radius: 4px;
  text-align: left;
  font-size: 1.4em;
}

.box_1 {
  width: 85%;
  font-weight: bold;
  font-size: 1.3rem;
}

.box_2 {
  margin-top: 10px;
}

.containerBox {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}


/* .box_3 {} */
.box_4 {
  padding-right: 10px;
}

.line {
  background: var(--lessonLineBgDefault);
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  border-radius: 0 4px 4px 0;
}
