.root {
  display: flex;
  flex-direction: column;
}

.start {
  width: 20px;
  height: 20px;
  background-color: var(--primaryColor_2);
  border-radius: 50%;
  margin: auto;
}

.finish {
  width: 10px;
  height: 10px;
  background-color: var(--primaryColor_2);
  border-radius: 50%;
  margin: auto;
}

.line {
  width: 2px;
  height: 40px;
  background-color: var(--primaryColor_2);
  margin: auto;
}

.date {
  margin: auto;
  position: sticky;
  top: 5px;
  z-index: 100;
  background-color: var(--bodyBackgroundColor);
  border: 1px solid var(--primaryColor_2);
  padding: 6px 18px;
  border-radius: 5px;
}

.date + .line {
  height: 23px;
}