.root {
  margin-bottom: 6rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.button {
  padding: 15px 0;
  margin: 10px 0;
  border-color: var(--primaryColor_2);
  backdrop-filter: var(--bgEffect);
}

.buttonActive {
  border-color: var(--primaryColor_4);
}

.practices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noPracticeMsg {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor_4);
  border-color: var(--primaryColor_2);
  backdrop-filter: var(--bgEffect);
  background-color: var(--primaryColor_1);
}

.practice {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor_4);
  border-color: var(--primaryColor_2);
  backdrop-filter: var(--bgEffect);
  background-color: var(--primaryColor_1);
}

.teacherName {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid;
}

.room {
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  p {
    background-color: var(--primaryColor_1);
    display: flex;
    gap: 2px;
    padding: 5px 7px;
    border-radius: 5px;
  }
}

.time {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.time_p {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 7px;
  border-radius: 5px;
  width: fit-content;
  background-color: var(--primaryColor_1);
}