.root {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-bottom: 6rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.button {
  padding: 15px 0;
  margin: 10px 0;
  border-color: var(--border);
  backdrop-filter: var(--bg-effect);
}

.buttonActive {
  border-color: var(--accent);
}

.practices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noPracticeMsg {
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  border-radius: 10px;
  border: 1px solid var(--border);
  backdrop-filter: var(--bg-effect);
  background-color: var(--bg-contrast);
}
