@import url("./css/default.css");
@import url("./css/space.css");
@import url("./css/glass.css");
@import url("./css/gold_black.css");
@import url("./css/cyber_slate.css");
@import url("./css/testet.css");
@import url("./css/develop.css");

* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
  touch-action: manipulation;
  padding: 15px;
  color: var(--text);
  background-color: var(--bg);
  background-image: var(--bg-image);
  background-size:  var(--bg-image-size);
  background-position: center;
}

button {
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--button-bg);
}

button:disabled {
  border-color: var(--border);
  color: var(--text-dim);
  background: var(--button-bg-disabled);
}