@import url("./css/default.css");
@import url("./css/dark.css");
@import url("./css/pink.css");
@import url("./css/space.css");
@import url("./css/glass.css");
@import url("./css/gold_black.css");
@import url("./css/matrix.css");
@import url("./css/colors_cyber_slate.css");

* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  min-height: 100dvh;
  background: var(--bodyBackground);
  background-color: var(--bodyBackgroundColor);
  color: var(--primaryColor_4);
  touch-action: manipulation;
  padding: 15px;
}

button {
  outline: none;
  border: 1px solid var(--buttonInitBorderColor);
  color: var(--primaryColor_4);
  padding: 5px 10px;
  border-radius: 10px;
  background: var(--buttonInitBgColor);
}

button:disabled {
  border-color: var(--buttonDisabledBorderColor);
  color: var(--buttonDisabledColor);
  background: var(--buttonDisabledBgColor);
}