* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
  background: var(--bodyBackground);
  color: var(--primaryColor_4);
  touch-action: manipulation;
  padding: 15px;
}

button {
  outline: none;
  border: 1px solid var(--buttonInitBorderColor);
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--buttonInitBgColor);
}

button:disabled {
  border-color: var(--buttonDisabledBorderColor);
  color: var(--buttonDisabledColor);
  background: var(--buttonDisabledBgColor);
}

.colors_default {
  --primaryColor_1: white;
  --primaryColor_2: #dddddd;
  --primaryColor_3: #9b9b9b;
  --primaryColor_4: black;

  --bodyBackground: #f2f2f2;

  --buttonInitBgColor: var(--primaryColor_1);
  --buttonInitBorderColor: rgb(180, 180, 180);

  --buttonDisabledBorderColor: #bebebe;
  --buttonDisabledColor: #8a8a8a;
  --buttonDisabledBgColor: var(--primaryColor_2);

  --headerBg: var(--primaryColor_1);
  --headerBorderColor: var(--primaryColor_2);
  --headerBetaBgColor: #0dacac;
  --headerBetaColor: var(--primaryColor_1);

  --completeLessonsBg: var(--primaryColor_2);
  --completeLessonsListBg: var(--primaryColor_2);

  --beforeClassBg: linear-gradient(135deg, var(--primaryColor_1), 75%, #f1d2a9);
  --beforeClassColor: #382703;
  --beforeClassBorderColor: #af7c4c;

  --messageBg: #8eeb8e;
  --messageColor: #023302;
  --messageBorderColor: #61c469;

  --weekendBg: linear-gradient(135deg, var(--primaryColor_1), 75%, var(--messageBg));
  --weekendColor: var(--messageColor);
  --weekendBorderColor: var(--messageBorderColor);

  --afterClassBg: linear-gradient(135deg, var(--primaryColor_1), 75%, var(--messageBg));
  --afterClassColor: var(--messageColor);
  --afterClassBorderColor: var(--messageBorderColor);

  --breakBg: linear-gradient(135deg, var(--primaryColor_1), 75%, var(--messageBg));
  --breakColor: var(--messageColor);
  --breakBorderColor: var(--messageBorderColor);

  --lessonBorderColor: var(--primaryColor_2);
  --lessonBg: var(--primaryColor_1);

  --lessonDetailsBorderColor: var(--primaryColor_3);
  --lessonDetailsTimeBorderColor: var(--primaryColor_3);
  --lessonTimerBorderColor: var(--primaryColor_3);

  --themeBg: var(--primaryColor_1);
  --themeButtonBg: var(--primaryColor_1);
  --themeMenuBg: #0002;
  --themeBorderColor: var(--primaryColor_2);
}

.colors_dark {
  --primaryColor_1: #27374D;
  --primaryColor_2: #526D82;
  --primaryColor_3: #9DB2BF;
  --primaryColor_4: #DDE6ED;

  --bodyBackground: #07101b;

  --buttonInitBorderColor: rgb(180, 180, 180);

  --weekendBg: var(--messageBg);
  --afterClassBg: var(--messageBg);
  --breakBg: var(--messageBg);

  --buttonDisabledBorderColor: rgb(190, 190, 190);
  --buttonDisabledColor: rgb(138, 138, 138);

  --headerBetaBgColor: rgb(170, 235, 235);

  --beforeClassBg: linear-gradient(135deg, var(--primaryColor_2), 75%, var(--primaryColor_1));
  --beforeClassColor: var(--primaryColor_4);
  --beforeClassBorderColor: var(--primaryColor_3);

  --messageBg: linear-gradient(135deg, var(--primaryColor_1), 75%, var(--primaryColor_2));
  --messageColor: var(--primaryColor_4);
  --messageBorderColor: var(--primaryColor_3);

  --themeMenuBg: #fff2;
}