.root {
  border: 1px solid var(--buttonInitBorderColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 30dvh;
  background: var(--headerBg);
  backdrop-filter: var(--bgEffect);

  h2 {
    text-wrap: balance;
    text-align: center;
  }
}
