.root {
  border: 1px solid var(--buttonInitBorderColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 40px 0;
  max-width: 700px;
  margin: auto;
  background: var(--headerBg);
  backdrop-filter: var(--bgEffect);
  margin-bottom: 10px;

  h2 {
    text-wrap: balance;
    text-align: center;
  }
}
