.root {
  display: flex;
  flex-direction: column;
}

.headerText {
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 5px;
  padding: 15px 0;
  border: 1px solid var(--border);
  backdrop-filter: var(--bg-effect);
  background-color: var(--bg-contrast);
}
