.root {
  height: 100px;
  width: 100%;
  max-width: 700px;
  margin: auto;
  border: 1px solid;
  background: url("../../assets/img/telegram.png");
  background-size: cover;
  border-radius: 10px !important;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
  
  color: var(--headerBetaBgColor);
  border-color: var(--headerBetaBgColor);
  
  span { 
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 15px var(--headerBetaBgColor));
  }
}
